h1, h2{
    font-family: 'Times New Roman', Times, serif;

    color: rgb(255, 249, 195);
    background-color: rgb(0, 75, 65);

    padding: 8px;
    margin: 8px;
}

p, li{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 75, 65);
}

p{
    margin: 8px;
    padding: 8px;
}
 
img{
    height: 256px;
    margin: 8px;
}